__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

dist/
build/
*.egg

.venv/
venv/
env/
/batch/.venv/
/crawler/.venv/
/serving/.venv/
/speed/.venv/

.vscode/
.DS_Store

logs/
*.log

/data/