apiVersion: apps/v1
kind: Deployment
metadata:
  name: crawler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: nonamesak57/crawler:v2
          imagePullPolicy: IfNotPresent
          workingDir: /app
          volumeMounts:
            - name: data-volume
              mountPath: /app/data
            - name: logs-volume
              mountPath: /app/logs
          env:
            - name: KAFKA_BOOTSTRAP
              value: "kafka:9092"
            - name: KAFKA_TOPIC
              value: "stock-raw"
      volumes:
        - name: data-volume
          hostPath:
            path: /crawler/data
            type: DirectoryOrCreate
        - name: logs-volume
          hostPath:
            path: /crawler/logs
            type: DirectoryOrCreate
