apiVersion: apps/v1
kind: Deployment
metadata:
  name: crawler-deployment
  labels:
    app: crawler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: bigdata/crawler:latest
          imagePullPolicy: Never
          workingDir: /app
          command: ["python3", "pipeline.py"]
          volumeMounts:
            - name: data-volume
              mountPath: /app/data
            - name: logs-volume
              mountPath: /app/logs
      volumes:
        - name: data-volume
          hostPath:
            path: /home/anh/Documents/Big_Data/BTL_BigData/crawler/data
            type: DirectoryOrCreate
        - name: logs-volume
          hostPath:
            path: /home/anh/Documents/Big_Data/BTL_BigData/crawler/logs
            type: DirectoryOrCreate
