apiVersion: apps/v1
kind: Deployment
metadata:
  name: crawler
  namespace: bigdata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: crawler:latest
          envFrom:
            - configMapRef:
                name: bigdata-config.yaml
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"
