# Python Virtual Environment
.venv/
venv/
env/

# Byte-compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# Local Database Files (If using SQLite or other embedded DB for development)
*.sqlite
*.db

# Temporary/Cache Files
.mypy_cache/